
body {
    color: #526066;
    background-color: black;
}
.cookies-eu-banner {
    background:rgb(119, 181, 254);
    color: #fff;
    padding: 6px;
    font-size: 13px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
.cookies-eu-banner button {
    text-decoration: none;
    background: #222;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    padding: 4px 7px;
    margin: 2px 0;
    font-size: 13px;
    font-weight: 700;

}
.cookies-eu-banner button:hover {
    background: #fff;
    color: #222;
}

.hidden {
    display: none;
} 

h2,
h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

.menu{
    display: flex;
    justify-content:flex-start;
    list-style: none;
    height: 100%;
    padding:0 0 3em;
    padding: 20px;
}

li{
    padding-right: 10px;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color:black;
    display: block;
    text-align: center;
    padding: 14px 16px;  
    text-decoration: none;
} 

.poli{
    color: #ddd;
}

.banner {
    background: transparent
    0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 3.125em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}

.titre{
    text-align: center;
    color: #ddd;
    font : bold
}
.pricing-tables,
.information {
    max-width: 980px;
    margin: 0 auto;
}
.pricing-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

.pricing-table {
    border: 1px solid black;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
}

.pricing-table-free {
    background: rgb(0, 0, 0); 
}

.card {
    display: grid;
    width: 940px;
    grid-template-columns: 120px 120px;
    padding-left: 20%;
    align-items: center;
    justify-content: space-between;
} 

.corps{
    
    color: #ddd;
    margin-left: 60%;
    margin-right: auto;
} 

.texte {
    width: 220%;
    margin: 10%;
    padding: 50%;

}

#pcgamer {
    height: 400px;
    width: 100%;
    margin-bottom: 3.125em;
}

#ps4 {
    height: 400px;
    width: 100%;
    margin-bottom: 3.125em;
} rgba(35, 96, 228, 0.5);

#switch {
    height: 400px;
    width: 100%;
    margin-bottom: 3.125em;
}

#smartphone {
    height: 400px;
    width: 100%;
    margin-bottom: 3.125em;
}
.pricing-table-biz .pricing-table-header { rgba(35, 96, 228, 0.5);
    background: black;
}

.pricing-table-header {
    background: rgb(119, 181, 254);
    color: black;
    font-family: 'Architects Daughter', cursive;
    font-size: 120%;
}
.pricing-table-header h2 {
    margin: 0;
    padding: 1em;
    font-size: 1em;
    font-weight: normal;
}

.pricing-table-price span {
    display: block;
    text-transform: uppercase;
    font-size: 0.2em;
    padding-bottom: 2em;
    font-weight: 400;
    color: rgba(35, 96, 228, 0.5);
    *color: #fff; rgba(35, 96, 228, 0.5);
}

.pricing-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pricing-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}

.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}



#lg{
    width: 15%;
    display: flex;
    justify-content:left;
} 

.reseau{
    background: rgb(119, 181, 254);
    color:black;
    text-align: center;
    font-size: 120%;
    display:inline-block;
    justify-content: first baseline;
} 



.formu {
    background: rgb(119, 181, 254);
    color: #fff;
    font-family: 'Architects Daughter', cursive;
    font-size: 180%;
    padding-top:10%;
    padding-left: 20%;

}
